<!DOCTYPE html>
<html>

<head>

  <title>Cancer Prediction</title>

  <link rel="stylesheet" href="../../static/css/navbar.css">
  <link rel="stylesheet" href="../../static/css/api.css">

</head>

<body>
  
  <header>
    <nav>
      <ul>
        <li><a class="pages" href="../index.html">Home</a></li>
        <li><a class="pages" href="about.html">About</a></li>
        <li><a class="pages" href="api.html">API</a></li>
        <li><a class="pages" href="colon.html">Colon</a></li>
        <li><a class="pages" href="pancreatic.html">Pancreatic</a></li>
        <li><a class="pages" href="lung.html">Lung</a></li>
      </ul>
    </nav>
  </header>

  <h1 class="api">API Documentation</h1>

  <p>
    cancerprediction.org’s API allows HTTP POST requests of only one type: application/json.
  </p>

  <p>
    To make a successful API request, the following keys must be used in the given order:<br><br>
    "age"<br>
    "height1"<br>
    "height2"<br>
    "weight"<br>
    "sex"<br>
    "race7"<br>
    "educat"<br>
    "marital"<br>
    "occupat"<br>
    "cig_stat"<br>
    "cig_years"<br>
    "cigpd_f"<br>
    "cigar"<br>
    "pipe"<br>
    "fh_cancer<br>"
    "colo_fh"<br>
    "colo_fh_cnt"<br>
    "asppd"<br>
    "ibuppd"<br>
    "arthrit_f"<br>
    "bronchit_f"<br>
    "colon_comorbidity"<br>
    "diabetes_f"<br>
    "divertic_f"<br>
    "emphys_f"<br>
    "gallblad_f"<br>
    "hearta_f"<br>
    "hyperten_f"<br>
    "liver_comorbidity"<br>
    "osteopor_f"<br>
    "polyps_f"<br>
    "stroke_f"<br>

  </p>

  <h1>Examples</h1>

  <p>
    
  </p>

</body>
</html>