<!DOCTYPE html>
<html>

<head>

  <title>Cancer Prediction</title>

  <link rel="stylesheet" href="../../static/css/navbar.css">

</head>

<body>
  
  <header>
    <nav>
      <ul>
        <li><a class="pages" href="../index.html">Home</a></li>
        <li><a class="pages" href="about.html">About</a></li>
        <li><a class="pages" href="api.html">API</a></li>
        <li><a class="pages" href="colon.html">Colon</a></li>
        <li><a class="pages" href="pancreatic.html">Pancreatic</a></li>
        <li><a class="pages" href="lung.html">Lung</a></li>
      </ul>
    </nav>
  </header>

  <h2> This page is a work in progress</h2>

</body>
</html>