<!DOCTYPE html>
<html>

<head>

    <title>Cancer Prediction</title>

    <link rel="stylesheet" href="../../static/css/work-in-progress.css">
    <link rel="stylesheet" href="../../static/css/navbar-footer.css">
    <link rel="stylesheet" href="../../static/css/fade-in.css">
    
</head>

<body>

    <header>
        <nav>
            <ul class="navbar-footer">
                <li class="pages"><a class="pages" href="../index.html">Home</a></li>
                <li class="pages"><a class="pages" href="../about.html">About</a></li>
                <li class="pages"><a class="pages" href="../api.html">API</a></li>
                <li class="pages"><a class="pages" href="../questionnaires/colon.html">Colon</a></li>
                <li class="pages"><a class="pages" href="../questionnaires/pancreatic.html">Pancreatic</a></li>
                <li class="pages"><a class="pages" href="../questionnaires/lung.html">Lung</a></li>
            </ul>
        </nav>
    </header>

    <div class="fade">
        <h2> This page is a work in progress</h2>
    </div>

    <footer>
        <nav>
            <ul class="navbar-footer">
                <li class="pages"><a class="pages" href="disclaimer.html">Disclaimer</a></li>
                <li class="pages"><a class="pages" href="terms-of-service.html">Terms of Service</a></li>
                <li class="pages"><a class="pages" href="privacy-policy.html">Privacy Policy</a></li>
                <li class="pages"><a class="pages" href="cookie-policy.html">Cookie Policy</a></li>
            </ul>
        </nav>
    </footer>
    
</body>
</html>