<!DOCTYPE html>
<html>

<head>

    <title>Disclaimer - cancerprediction.org</title>

    <link rel="stylesheet" href="../../static/css/text.css">
    <link rel="stylesheet" href="../../static/css/navbar-footer.css">
    <link rel="stylesheet" href="../../static/css/fade-in.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>

<body>

    <header>
        <nav>
            <ul class="navbar-footer">
                <li class="pages"><a class="pages" href="../index.html">Home</a></li>
                <li class="pages"><a class="pages" href="../about.html">About</a></li>
                <li class="pages"><a class="pages" href="../api.html">API</a></li>
                <li class="pages"><a class="pages" href="../questionnaires/colon.html">Colon</a></li>
                <li class="pages"><a class="pages" href="../questionnaires/pancreatic.html">Pancreatic</a></li>
                <li class="pages"><a class="pages" href="../questionnaires/lung.html">Lung</a></li>
            </ul>
        </nav>
    </header>

    <div class="fade">
        <h1 id="first"> DISCLAIMER</h1>
        <h3>Last updated March 01, 2023</h3>
        <h2>WEBSITE DISCLAIMER</h2>
        <div class="box"> 
            <p> The information provided by cancerprediction.org (“<b>we</b>,” “<b>us</b>,” “<b>our</b>”) on <a class="links" href="https://www.cancerprediction.org">https://www.cancerprediction.org</a> (the “<b>Site</b>”) is for general informational purposes only. All information on the Site is provided in good faith, however we make no representation or warranty of any kind, express or implied, regarding the accuracy, adequacy, validity, reliability, availability, or completeness of any information on the Site. UNDER NO CIRCUMSTANCE SHALL WE HAVE ANY LIABILITY TO YOU FOR ANY LOSS OR DAMAGE OF ANY KIND INCURRED AS A RESULT OF THE USE OF THE SITE OR RELIANCE ON ANY INFORMATION PROVIDED ON THE SITE. YOUR USE OF THE SITE AND YOUR RELIANCE ON ANY INFORMATION ON THE SITE IS SOLELY AT YOUR OWN RISK.</p>
        </div>
        <h2>PROFESSIONAL DISCLAIMER</h2>
        <div id="last" class="box"> 
            <p> The Site cannot and does not contain medical/health advice. The medical/health information is provided for general informational and educational purposes only and is not a substitute for professional advice. Accordingly, before taking any actions based upon such information, we encourage you to consult with the appropriate professionals. We do not provide any kind of medical/health advice. THE USE OR RELIANCE OF ANY INFORMATION CONTAINED ON THE SITE IS SOLELY AT YOUR OWN RISK.</p>
        </div>
    </div>

    <footer>
        <nav>
            <ul class="navbar-footer">
                <li class="pages"><a class="pages" href="disclaimer.html">Disclaimer</a></li>
                <li class="pages"><a class="pages" href="terms-of-service.html">Terms of Service</a></li>
                <li class="pages"><a class="pages" href="privacy-policy.html">Privacy Policy</a></li>
                <li class="pages"><a class="pages" href="cookie-policy.html">Cookie Policy</a></li>
            </ul>
        </nav>
    </footer>
    
</body>
</html>