<!DOCTYPE html>
<html>

<head>

    <title>Cancer Prediction</title>

    <link rel="stylesheet" href="../../static/css/text.css">
    <link rel="stylesheet" href="../../static/css/navbar-footer.css">
    <link rel="stylesheet" href="../../static/css/fade-in.css">
    
</head>

<body>

    <header>
        <nav>
            <ul class="navbar-footer">
                <li class="pages"><a class="pages" href="../index.html">Home</a></li>
                <li class="pages"><a class="pages" href="../about.html">About</a></li>
                <li class="pages"><a class="pages" href="../api.html">API</a></li>
                <li class="pages"><a class="pages" href="../questionnaires/colon.html">Colon</a></li>
                <li class="pages"><a class="pages" href="../questionnaires/pancreatic.html">Pancreatic</a></li>
                <li class="pages"><a class="pages" href="../questionnaires/lung.html">Lung</a></li>
            </ul>
        </nav>
    </header>

    <div class="fade">

        <h1 class="about"> TERMS OF SERVICE</h1>
        <h3>Last updated March 01, 2023</h3>

        <h2>AGREEMENT TO OUR LEGAL TERMS</h2>
            <div class="box"> 
                <p> 
                    We are cancerprediction.org (“we,” “us,” “our”), and we operate the website <a class="links" href="https://www.cancerprediction.org">https://www.cancerprediction.org</a> (the “Site”), as well as any other related products and services that refer or link to these legal terms (the “Legal Terms”) (collectively, the “Services”).
                    <br><br>
                    You can contact us by email at info@cancerprediction.org.
                    <br><br>
                    These Legal Terms constitute a legally binding agreement made between you, whether personally or on behalf of an entity (“you”), and cancerprediction.org, concerning your access to and use of the Services. You agree that by accessing the Services, you have read, understood, and agreed to be bound by all of these Legal Terms. IF YOU DO NOT AGREE WITH ALL OF THESE LEGAL TERMS, THEN YOU ARE EXPRESSLY PROHIBITED FROM USING THE SERVICES AND YOU MUST DISCONTINUE USE IMMEDIATELY.
                    <br><br>
                    We will provide you with prior notice of any scheduled changes to the Services you are using. Changes to Legal Terms will become effective seven (7) days after the notice is given, except if the changes apply to security updates, and a court order, in which case the changes will be effective immediately. By continuing to use the Services after the effective date of any changes, you agree to be bound by the modified terms. If you disagree with such changes, you may terminate Services as per the section “TERM AND TERMINATION.”
                    <br><br>
                    The Services are intended for users who are at least 18 years old. Persons under the age of 18 are not permitted to use or register for the Services.
                    <br><br>
                    We recommend that you print a copy of these Legal Terms for your records.
                </p>
            </div>

        <h2>TABLE OF CONTENTS</h2>
            <div class="box"> 
                <p> 
                    1. OUR SERVICES<br>
                    2. INTELLECTUAL PROPERTY RIGHTS<br>
                    3. USER REPRESENTATIONS<br>
                    4. PROHIBITED ACTIVITIES<br>
                    5. USER GENERATED CONTRIBUTIONS<br>
                    6. CONTRIBUTION LICENSE<br>
                    7. SERVICES MANAGEMENT<br>
                    8. PRIVACY POLICY<br>
                    9. TERM AND TERMINATION<br>
                    10. MODIFICATIONS AND INTERRUPTIONS<br>
                    11. GOVERNING LAW<br>
                    12. DISPUTE RESOLUTION<br>
                    13. CORRECTIONS<br>
                    14. DISCLAIMER<br>
                    15. LIMITATIONS OF LIABILITY<br>
                    16. INDEMNIFICATION<br>
                    17. USER DATA<br>
                    18. ELECTRONIC COMMUNICATIONS, TRANSACTIONS, AND SIGNATURES<br>
                    19. CALIFORNIA USERS AND RESIDENTS<br>
                    20. MISCELLANEOUS<br>
                    21. CONTACT US<br>
                </p>
            </div>

        <h2>1. OUR SERVICES</h2>
            <div class="box">
                <p>
                    The information provided when using the Services is not intended for distribution to or use by any person or entity in any jurisdiction or country where such distribution or use would be contrary to law or regulation or which would subject us to any registration requirement within such jurisdiction or country. Accordingly, those persons who choose to access the Services from other locations do so on their own initiative and are solely responsible for compliance with local laws, if and to the extent local laws are applicable.
                    <br><br>
                    The Services are not tailored to comply with industry-specific regulations (Health Insurance Portability and Accountability Act (HIPAA), Federal Information Security Management Act (FISMA), etc.), so if your interactions would be subjected to such laws, you may not use the Services. You may not use the Services in a way that would violate the Gramm-Leach-Bliley Act (GLBA).
                </p>
            </div>

        <h2>2. INTELLECTUAL PROPERTY RIGHTS</h2>
            <div class="box">
                <h2 class="inner-h2">Our intellectual property</h2>
                <p>
                    We are the owner or the licensee of all intellectual property rights in our Services, including all source code, databases, functionality, software, website designs, audio, video, text, photographs, and graphics in the Services (collectively, the "Content"), as well as the trademarks, service marks, and logos contained therein (the "Marks").
                    <br><br>
                    Our Content and Marks are protected by copyright and trademark laws (and various other intellectual property rights and unfair competition laws) and treaties in the United States and around the world.
                    <br><br>
                    The Content and Marks are provided in or through the Services "AS IS" for your personal, non-commercial use or internal business purpose only.
                </p>
                <h2 class="inner-h2">Your use of our Services</h2>
                <p>
                    Subject to your compliance with these Legal Terms, including the "PROHIBITED ACTIVITIES" section below, we grant you a non-exclusive, non-transferable, revocable license to:
                </p>
                <ul class="lists">
                    <li class="items">access the Services; and</li>
                    <li class="items">download or print a copy of any portion of the Content to which you have properly gained access.</li>
                </ul>
                <p>
                    solely for your personal, non-commercial use or internal business purpose.
                    <br><br>
                    Except as set out in this section or elsewhere in our Legal Terms, no part of the Services and no Content or Marks may be copied, reproduced, aggregated, republished, uploaded, posted, publicly displayed, encoded, translated, transmitted, distributed, sold, licensed, or otherwise exploited for any commercial purpose whatsoever, without our express prior written permission.
                    <br><br>
                    If you wish to make any use of the Services, Content, or Marks other than as set out in this section or elsewhere in our Legal Terms, please address your request to: info@cancerprediction.org. If we ever grant you the permission to post, reproduce, or publicly display any part of our Services or Content, you must identify us as the owners or licensors of the Services, Content, or Marks and ensure that any copyright or proprietary notice appears or is visible on posting, reproducing, or displaying our Content.
                    <br><br>
                    We reserve all rights not expressly granted to you in and to the Services, Content, and Marks.
                    <br><br>
                    Any breach of these Intellectual Property Rights will constitute a material breach of our Legal Terms and your right to use our Services will terminate immediately.
                </p>
                <h2 class="inner-h2">Your submissions</h2>
                <p>
                    Please review this section and the “PROHIBITED ACTIVITIES” section carefully prior to using our Services to understand the (a) rights you give us and (b) obligations you have when you post or upload any content through the Services.
                    <br><br>
                    <b>Submissions:</b> By directly sending us any question, comment, suggestion, idea, feedback, or other information about the Services (“Submissions”), you agree to assign to us all intellectual property rights in such Submission. You agree that we shall own this Submission and be entitled to its unrestricted use and dissemination for any lawful purpose, commercial or otherwise, without acknowledgment or compensation to you.
                    <br><br>
                    <b>You are responsible for what you post or upload</b>: By sending us Submissions through any part of the Services you:
                </p>  
                <ul class="lists">
                    <li class="items">confirm that you have read and agree with our “PROHIBITED ACTIVITIES” and will not post, send, publish, upload, or transmit through the Services any Submission that is illegal, harassing, hateful, harmful, defamatory, obscene, bullying, abusive, discriminatory, threatening to any person or group, sexually explicit, false, inaccurate, deceitful, or misleading;</li>
                    <li class="items">to the extent permissible by applicable law, waive any and all moral rights to any such Submission;</li>
                    <li class="items">warrant that any such Submission are original to you or that you have the necessary rights and licenses to submit such Submissions and that you have full authority to grant us the above-mentioned rights in relation to your Submissions; and</li>
                    <li class="items">warrant and represent that your Submissions do not constitute confidential information.</li>
                </ul> 
                <p>
                    You are solely responsible for your Submissions and you expressly agree to reimburse us for any and all losses that we may suffer because of your breach of (a) this section, (b) any third party’s intellectual property rights, or (c) applicable law.
                </p>
            </div>

        <h2>3. USER REPRESENTATIONS</h2>
            <div class="box">
                <p>
                    By using the Services, you represent and warrant that: (1) you have the legal capacity and you agree to comply with these Legal Terms; (2) you are not a minor in the jurisdiction in which you reside; (3) you will not access the Services through automated or non-human means, whether through a bot, script or otherwise; (4) you will not use the Services for any illegal or unauthorized purpose; and (5) your use of the Services will not violate any applicable law or regulation.
                    <br><br>
                    If you provide any information that is untrue, inaccurate, not current, or incomplete, we have the right to suspend or terminate your account and refuse any and all current or future use of the Services (or any portion thereof).
                </p>
            </div>

        <h2>4. PROHIBITED ACTIVITIES</h2>
            <div class="box">
                <p>
                    You may not access or use the Services for any purpose other than that for which we make the Services available. The Services may not be used in connection with any commercial endeavors except those that are specifically endorsed or approved by us.
                    <br><br>
                    As a user of the Services, you agree not to:
                </p>
                <ul class="lists"> 
                    <li class="items">Systematically retrieve data or other content from the Services to create or compile, directly or indirectly, a collection, compilation, database, or directory without written permission from us.</li>
                    <li class="items">Trick, defraud, or mislead us and other users, especially in any attempt to learn sensitive account information such as user passwords.</li>
                    <li class="items">Circumvent, disable, or otherwise interfere with security-related features of the Services, including features that prevent or restrict the use or copying of any Content or enforce limitations on the use of the Services and/or the Content contained therein.</li>
                    <li class="items">Disparage, tarnish, or otherwise harm, in our opinion, us and/or the Services.</li>
                    <li class="items">Use any information obtained from the Services in order to harass, abuse, or harm another person.</li>
                    <li class="items">Make improper use of our support services or submit false reports of abuse or misconduct.</li>
                    <li class="items">Use the Services in a manner inconsistent with any applicable laws or regulations.</li>
                    <li class="items">Engage in unauthorized framing of or linking to the Services.</li>
                    <li class="items">Upload or transmit (or attempt to upload or to transmit) viruses, Trojan horses, or other material, including excessive use of capital letters and spamming (continuous posting of repetitive text), that interferes with any party’s uninterrupted use and enjoyment of the Services or modifies, impairs, disrupts, alters, or interferes with the use, features, functions, operation, or maintenance of the Services.</li>
                    <li class="items">Engage in any automated use of the system, such as using scripts to send comments or messages, or using any data mining, robots, or similar data gathering and extraction tools.</li>
                    <li class="items">Delete the copyright or other proprietary rights notice from any Content.</li>
                    <li class="items">Attempt to impersonate another user or person or use the username of another user.</li>
                    <li class="items">Upload or transmit (or attempt to upload or to transmit) any material that acts as a passive or active information collection or transmission mechanism, including without limitation, clear graphics interchange formats ("gifs"), 1×1 pixels, web bugs, cookies, or other similar devices (sometimes referred to as "spyware" or "passive collection mechanisms" or "pcms").</li>
                    <li class="items">Interfere with, disrupt, or create an undue burden on the Services or the networks or services connected to the Services.</li>
                    <li class="items">Harass, annoy, intimidate, or threaten any of our employees or agents engaged in providing any portion of the Services to you.</li>
                    <li class="items">Attempt to bypass any measures of the Services designed to prevent or restrict access to the Services, or any portion of the Services.</li>
                    <li class="items">Copy or adapt the Services’ software, including but not limited to Flash, PHP, HTML, JavaScript, or other code.</li>
                    <li class="items">Except as permitted by applicable law, decipher, decompile, disassemble, or reverse engineer any of the software comprising or in any way making up a part of the Services.</li>
                    <li class="items">Except as may be the result of standard search engine or Internet browser usage, use, launch, develop, or distribute any automated system, including without limitation, any spider, robot, cheat utility, scraper, or offline reader that accesses the Services, or use or launch any unauthorized script or other software.</li>
                    <li class="items">Use a buying agent or purchasing agent to make purchases on the Services.</li>
                    <li class="items">UMake any unauthorized use of the Services, including collecting usernames and/or email addresses of users by electronic or other means for the purpose of sending unsolicited email, or creating user accounts by automated means or under false pretenses.</li>
                    <li class="items">Use the Services as part of any effort to compete with us or otherwise use the Services and/or the Content for any revenue-generating endeavor or commercial enterprise.</li>
                </ul>
                <p></p>
            </div>

        <h2>5. USER GENERATED CONTRIBUTIONS</h2>
            <div class="box">
                
            </div>

        <h2>6. CONTRIBUTION LICENSE</h2>
            <div class="box">
                
            </div>

        <h2>7. SERVICES MANAGEMENT</h2>
            <div class="box">
                
            </div>

        <h2>8. PRIVACY POLICY</h2>
            <div class="box">
                
            </div>

        <h2>9. TERM AND TERMINATION</h2>
            <div class="box">
                
            </div>

        <h2>10. MODIFICATIONS AND INTERRUPTIONS</h2>
            <div class="box">
                
            </div>

        <h2>11. GOVERNING LAW</h2>
            <div class="box">
                
            </div>

        <h2>12. DISPUTE RESOLUTION</h2>
            <div class="box">
                
            </div>

        <h2>13. CORRECTIONS</h2>
            <div class="box">
                
            </div>

        <h2>14. DISCLAIMER</h2>
            <div class="box">
                
            </div>

        <h2>15. LIMITATIONS OF LIABILITY</h2>
            <div class="box">
                
            </div>

        <h2>16. INDEMNIFICATION</h2>
            <div class="box">
                
            </div>

        <h2>17. USER DATA</h2>
            <div class="box">
                
            </div>

        <h2>18. ELECTRONIC COMMUNICATIONS, TRANSACTIONS, AND SIGNATURES</h2>
            <div class="box">
                
            </div>

        <h2>19. CALIFORNIA USERS AND RESIDENTS</h2>
            <div class="box">
                
            </div>

        <h2>20. MISCELLANEOUS</h2>
            <div class="box">
                
            </div>

        <h2>21. CONTACT US</h2>
            <div class="box">
                
            </div>
        
    </div>

    <footer>
        <nav>
            <ul class="navbar-footer">
                <li class="pages"><a class="pages" href="disclaimer.html">Disclaimer</a></li>
                <li class="pages"><a class="pages" href="terms-of-service.html">Terms of Service</a></li>
                <li class="pages"><a class="pages" href="privacy-policy.html">Privacy Policy</a></li>
                <li class="pages"><a class="pages" href="cookie-policy.html">Cookie Policy</a></li>
            </ul>
        </nav>
    </footer>
    
</body>
</html>