.fade span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Garamond, serif; 
    color: #2b2929;
    font-size: 2.25rem;
    font-weight: bold;
    text-transform: none;
    letter-spacing: 0.0625rem;
}

.first {
    padding: 3.125rem 0rem 0rem 0rem;
}

.first .word:nth-child(1) {
    padding: 0rem;
}

.first .word:nth-child(2) {
    padding: 0rem 0rem 0rem 0.6875rem;
}

.word {
    padding: 0.625rem 0rem 0rem 0rem;
}

h1 {
    text-align: center;
    font-family: Garamond, serif; 
    font-size: 1rem;
    color: #2b2929;
    margin-top: 1rem;
}

button {
    margin:0 auto;
    display:block;
    background-color: #2b2929;
    border: 0.0625rem solid #f2f2f2;
    border-radius: 0.875rem;
    font-family: Garamond, serif; 
    color: #f2f2f2;
    font-size: 1.3125rem;
    width: 11rem;
    margin-top: 3.125rem;
    margin-bottom: 3.125rem;;
    padding: 1rem;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35rem; 
    border-style: solid;
    border-color: #2b2929;
    border-width: 0.1875rem;
    margin-bottom: 3.125rem;
}

button:hover {
    background-color: #656262;
}