h1.quiz-header {
    text-align: center;
    font-family: Garamond, serif; 
    font-size: normal;
    color: #2b2929;
    margin-top: 3.125rem;
    margin-bottom: 1.875rem;
}

/* Styling the Form (Color, Padding, Shadow) */
.questionnaire {
    max-width: 31.25rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3.125rem;
    padding: 1.25rem 1.25rem;
    border-style: solid;
    border-color: #2b2929;
    border-radius: 1.75rem;
    background-color: #fff;
    font-family: 'Times New Roman', Times, serif
}

/* Styling form-control Label */
.questionnaire label {
    display: block;
    margin-bottom: 0.625rem;
}

/* Styling form-control input, select, textarea */
.questionnaire input,
.questionnaire select,
.questionnaire textarea {
    border: 0.0625rem solid #777;
    border-radius: 0.125rem;
    font-family: 'Times New Roman', Times, serif;
    font-size: 0.875rem;
    padding: 0.625rem;
    display: block;
    width:100%;
    box-sizing: border-box;
}

/* Styling Button */
button {
    background-color: rgb(173, 216, 230);
    border: 0.0625rem solid #777;
    border-radius: 0.125rem;
    font-family: Garamond, serif; 
    font-size: 1.25rem;
    display: block;
    width: 100%;
    margin-top: 1.25rem;
    font-weight: bold;
}

button:hover {
    background-color: rgb(172, 202, 212);
}