h1 {
    text-align: center;
    font-family: Garamond, serif; 
    font-size: 2.25rem;
    color: #2b2929;
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
    opacity: 0;
    animation-name: fade-in;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-duration: 1.5s;
}

/* Styling the Form (Color, Padding, Shadow) */
.questionnaire {
    background-color: #f2f2f2;
    max-width: 31.25rem;
    margin: 1.875rem auto;
    padding: 1.875rem 1.25rem;
    box-shadow: 0.125rem 0.3125rem 0.625rem #2b2929;
    opacity: 0;
    animation-name: fade-in;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-duration: 1.5s;
}

/* Styling form-control Label */
.questionnaire label {
    display: block;
    margin-bottom: 0.625rem;
}

/* Styling form-control input, select, textarea */
.questionnaire input,
.questionnaire select,
.questionnaire textarea {
    border: 0.0625rem solid #777;
    border-radius: 0.125rem;
    font-family: 'Times New Roman', Times, serif;
    padding: 0.625rem;
    display: block;
    width:100%;
    box-sizing:border-box;
}

/* Styling Button */
button {
    background-color: rgb(173, 216, 230);
    border: 0.0625rem solid #777;
    border-radius: 0.125rem;
    font-family: Garamond, serif; 
    font-size: 1.3125rem;
    display: block;
    width: 100%;
    margin-top: 2.5rem;
    margin-bottom: 0.9375rem;
}

button:hover {
    background-color: #656262;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(1.25rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0rem);
    }
}