.tables {
    border-collapse: collapse;
    width: 100%;
}
  
.tables td, .tables th {
    text-align: justify;
    font-family: Garamond, serif; 
    font-size: 1.25rem;
    color: #000000;
    border: 0.0625rem solid #656262;
    padding: 0.5rem;
    background-color: #fff;
}

.tables th {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    text-align: left;
}

.no-lines {
    width: 100%;
    border: 0.0625rem solid;
}

.no-lines td {
    text-align: justify;
    font-family: Garamond, serif; 
    font-size: 1.25rem;
    color: #000000;
    padding: 0.5rem;
    background-color: #fff;
    text-align: right;
}

.no-lines td.left {
    text-align: left;
}