h1,h2,h3 {
    font-family: Garamond, serif; 
    color: #2b2929;
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
    margin-left: 6.25rem;
}

/* top margin */
#first {
    margin-top: 3.125rem;
}

/* bottom margin */
#last {
    margin-bottom: 3.125rem;
} 

.inner-h2 {
    margin: 0
}

p, a.links {
    text-align: justify;
    font-family: Garamond, serif; 
    font-size: 1.25rem;
    color: #000000;
}

a.links {
    text-decoration: none;
    margin: 0; 
    padding: 0;
    color: #3030F1;
}

ul.lists {
    display: inline;
    list-style-type: disc;
    margin: 0;
    padding: 0;
}

ul.nested-lists {
    display: inline;
    list-style-type: circle;
    margin: 0;
    padding: 0;
}

ul.no-bullet-lists {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li.items {
    text-align: justify;
    font-family: Garamond, serif; 
    font-size: 1.25rem;
    color: #000000;
    margin-left: 3rem
}

ol.lists {
    display: inline;
    list-style-type: decimal;
    margin: 0;
    padding: 0;
}

ol li.items {
    text-align: justify;
    font-family: Garamond, serif; 
    font-size: 1.25rem;
    color: #000000;
    margin-left: 1.5rem
}

.box {
    border-style: solid;
    border-color: #2b2929;
    border-radius: 1.75rem;
    background-color: #fff;
    margin-right: 6.25rem;
    margin-left: 6.25rem;
    padding: 0rem 1.5rem; /* line-height = 1.25 (font-size) * 1.2 (multiplier) = 1.5 = default distance */
}

button {
    background-color: #2b2929;
    border: 0.0625rem solid #fff;
    border-radius: 0.875rem;
    font-family: Garamond, serif; 
    color: #f2f2f2;
    font-size: 1.25rem;
    width: 10rem;
    padding: 0.875rem;
}

button:enabled:hover {
    background-color: #656262;
}

button:disabled {
    background-color: #747070;
    color: #cecece
}

.image {
    width: 25%; 
    border-style: solid;
    border-color: #2b2929;
    border-width: 0.0625rem;
}

p.after-div {
    margin-top: 0
}