h1,h2,h3 {
    font-family: Garamond, serif; 
    color: #2b2929;
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
    margin-left: 6.25rem;
}

h1.about {
    margin-top: 3.125rem;
}

.inner-h2 {
    margin-left: 0;
}

p, a.links {
    text-align: justify;
    font-family: Garamond, serif; 
    font-size: 1.25rem;
    color: #000000;
}

a.links {
    margin: 0; 
    padding: 0;
    color: rgb(49, 108, 208);
}

ul.lists {
    display: inline;
    list-style-type: disc;
    margin: 0;
    padding: 0;
}

li.items {
    text-align: justify;
    font-family: Garamond, serif; 
    font-size: 1.25rem;
    color: #000000;
    margin-left: 3rem
}

.box {
    border-style: solid;
    border-color: #2b2929;
    border-radius: 1.75rem;
    background-color: #fff;
    margin-right: 6.25rem;
    margin-left: 6.25rem;
    padding: 0rem 1.5rem;
}

/* bottom margin
.yee {
    margin-bottom: 3.125rem;
} 
*/