<!DOCTYPE html>
<html>

<head>

  <title>Colon Cancer Questionnaire - cancerprediction.org</title>

  <link rel="stylesheet" href="../../static/css/quiz.css">
  <link rel="stylesheet" href="../../static/css/navbar-footer.css">
  <link rel="stylesheet" href="../../static/css/fade-in.css">
  <script src="../../static/js/index.js"> </script> 

</head>

<body>

	<header>
		<nav>
			<ul class="navbar-footer">
				<li class="pages"><a class="pages" href="../index.html">Home</a></li>
				<li class="pages"><a class="pages" href="../about.html">About</a></li>
				<li class="pages"><a class="pages" href="../api.html">API</a></li>
				<li class="pages"><a class="pages" href="colon.html">Colon</a></li>
				<li class="pages"><a class="pages" href="pancreatic.html">Pancreatic</a></li>
				<li class="pages"><a class="pages" href="lung.html">Lung</a></li>
			</ul>
		</nav>
	</header>

	<h1 class="quiz-header"> Health Questionnaire </h1> 

<div class="questionnaire">

	<label for="age" id="age0" class="required">Age (years)</label>
	<input type="number" id="age" name="age">

	<br>
	<br>

	<label for="height1" id="height10" class="required">Height (feet)</label>
	<input type="number" id="height1" name="height1"> 

	<br>
	<br>

	<label for="height2" id="height20" class="required">Height (inches)</label>
	<input type="number" id="height2" name="height2"> 

	<br>
	<br>

	<label for="weight" id="weight0" class="required">Weight (pounds)</label>
	<input type="number" id="weight" name="weight">

	<br>
	<br>

	<label for="sex">Sex</label>
	<select id="sex" name="sex">
	<option value="1">Man</option>
	<option value="2">Woman</option>
	</select>

	<br>
	<br>

	<label for="race7">Race</label>
	<select id="race7" name="race7">
	<option value="1">White, Non-Hispanic</option>
	<option value="2">Black, Non-Hispanic</option>
	<option value="3">Hispanic</option>
	<option value="4">Asian</option>
	<option value="5">Pacific Islander</option>
	<option value="6">American Indian</option>
	<option value="7">Missing</option>
	</select>

	<br>
	<br>

	<label for="educat">Education</label>
	<select id="educat" name="educat">
	<option value="1">Less Than 8 Years</option>
	<option value="2">8-11 Years</option>
	<option value="3">12 Years Or Completed High School</option>
	<option value="4">Post High School Training Other Than College</option>
    <option value="5">Some College</option>
	<option value="6">College Graduate</option>
	<option value="7">Postgraduate</option>
	</select>
	
	<br>
	<br>

	<label for="marital">Marital status</label>
	<select id="marital" name="marital">
	<option value="1">Married Or Living As Married</option>
	<option value="2">Widowed</option>
	<option value="3">Divorced</option>
	<option value="4">Separated</option>
  	<option value="5">Never Married</option>
	</select>
	
	<br>
	<br>

	<label for="occupat">Occupation status</label>
	<select id="occupat" name="occupat">
	<option value="1">Homemaker</option>
	<option value="2">Working</option>
	<option value="3">Unemployed</option>
	<option value="4">Retired</option>
    <option value="5">Extended Sick Leave</option>
	<option value="6">Disabled</option>
	<option value="7">Other</option>
	</select>
	
	<br>
	<br>

	<label for="cig_stat">Cigarette smoking status</label>
	<select id="cig_stat" name="cig_stat" onchange="enableQuestions()">
	<option value="0">Never Smoked Cigarettes</option>	
	<option value="1">Current Cigarette Smoker</option>
	<option value="2">Former Cigarette Smoker</option>
	</select>
	
	<br id="hide1" style="display:none;">
	<br id="hide2" style="display:none;">

	<label for="cig_years" id="hide3" style="display:none;">Duration smoked cigarettes (years)</label>
	<input type="number" id="cig_years" name="cig_years" style="display:none;">
	
	<br id="hide4" style="display:none;">
	<br id="hide5" style="display:none;">

	<label for="cigpd_f" id="hide6" style="display:none;">Number of cigarettes smoked per day</label>
	<select id="cigpd_f" name="cigpd_f" style="display:none;">
	<option value="0">0</option>
	<option value="1">1-10</option>
	<option value="2">11-20</option>
	<option value="3">21-30</option>
  	<option value="4">31-40</option>
	<option value="5">41-60</option>
	<option value="6">61-80</option>
	<option value="7">81+</option>
	<option value="0">I don't know</option>
	</select>
	
	<br>
	<br>

	<label for="cigar">Cigar smoking status</label>
	<select id="cigar" name="cigar">
	<option value="0">Never Smoked Cigars</option>	
	<option value="1">Current Cigar Smoker</option>
	<option value="2">Former Cigar Smoker</option>
	</select>
	
	<br>
	<br>

	<label for="pipe">Pipe smoking status</label>
	<select id="pipe" name="pipe">
	<option value="0">Never Smoked Pipes</option>	
	<option value="1">Current Pipe Smoker</option>
	<option value="2">Former Pipe Smoker</option>
	</select>
	
	<br>
	<br>

	<label for="fh_cancer">Do any of your first-degree relatives (parents, full-siblings, and children) have a history of cancer, excluding basal cell skin cancers?</label>
	<select id="fh_cancer" name="fh_cancer">
	<option value="0">No</option>	
	<option value="1">Yes</option>
	<option value="0">I don't know</option>
	</select>
	
	<br>
	<br>

	<label for="asppd">Aspirin usage</label>
	<select id="asppd" name="asppd">
	<option value="0">None</option>
	<option value="1">1/Day</option>
	<option value="2">2+/Day</option>
	<option value="3">1/Week</option>
  	<option value="4">2/Week</option>
	<option value="5">3-4/Week</option>
	<option value="6">&lt2/Month</option>
	<option value="7">2-3/Month</option>
	<option value="0">I don't know</option>
	</select>
	
	<br>
	<br>

	<label for="ibuppd">Ibuprofen usage</label>
	<select id="ibuppd" name="ibuppd">
	<option value="0">None</option>
	<option value="1">1/Day</option>
	<option value="2">2+/Day</option>
	<option value="3">1/Week</option>
  	<option value="4">2/Week</option>
	<option value="5">3-4/Week</option>
	<option value="6">&lt2/Month</option>
	<option value="7">2-3/Month</option>
	<option value="0">I don't know</option>
	</select>
	
	<br>
	<br>

	<label for="arthrit_f" class="tooltip">Have you ever had arthritis?
		<span class="tooltiptext">Inflammation of one or more joints, causing pain and stiffness that can worsen with age</span>
	</label>
	<select id="arthrit_f" name="arthrit_f">
	<option value="0">No</option>	
	<option value="1">Yes</option>
	<option value="0">I don't know</option>
	</select>
	
	<br>
	<br>

	<label for="bronchit_f" class="tooltip">Have you ever had bronchitis?
		<span class="tooltiptext">Inflammation of the lining of bronchial tubes, which carry air to and from the lungs</span>
	</label>
	<select id="bronchit_f" name="bronchit_f">
	<option value="0">No</option>	
	<option value="1">Yes</option>
	<option value="0">I don't know</option>
	</select>
	
	<br>
	<br>

	<label for="colon_comorbidity" class="tooltip">Have you ever had colon comorbidities?
		<span class="tooltiptext">The simultaneous presence of two or more colon-related diseases or medical conditions</span>
	</label>
	<select id="colon_comorbidity" name="colon_comorbidity">
	<option value="0">No</option>	
	<option value="1">Yes</option>
	<option value="0">I don't know</option>
	</select>
	
	<br>
	<br>

	<label for="diabetes_f" class="tooltip">Have you ever had diabetes?
		<span class="tooltiptext">A group of diseases that result in too much sugar in the blood (high blood glucose)</span>
	</label>
	<select id="diabetes_f" name="diabetes_f">
	<option value="0">No</option>	
	<option value="1">Yes</option>
	<option value="0">I don't know</option>
	</select>
	
	<br>
	<br>

	<label for="divertic_f" class="tooltip">Have you ever had diverticulosis or diverticulitis?
		<span class="tooltiptext">Diverticulosis is the formation of abnormal pouches in the bowel wall. Diverticulitis is inflammation or infection of these abnormal pouches</span>
	</label>
	<select id="divertic_f" name="divertic_f">
	<option value="0">No</option>	
	<option value="1">Yes</option>
	<option value="0">I don't know</option>
	</select>
	
	<br>
	<br>

	<label for="emphys_f" class="tooltip">Have you ever had emphysema?
		<span class="tooltiptext">A condition in which the air sacs of the lungs are damaged and enlarged, causing breathlessness</span>
	</label>
	<select id="emphys_f" name="emphys_f">
	<option value="0">No</option>	
	<option value="1">Yes</option>
	<option value="0">I don't know</option>
	</select>
	
	<br>
	<br>

	<label for="gallblad_f" class="tooltip">Have you ever had gallbladder stones or cholecystitis?
		<span class="tooltiptext">Gallbladder stones are hardened deposits within the fluid in the gallbladder, a small organ under the liver. Cholecystitis is inflammation of the gallbladder</span>
	</label>
	<select id="gallblad_f" name="gallblad_f">
	<option value="0">No</option>	
	<option value="1">Yes</option>
	<option value="0">I don't know</option>
	</select>
	
	<br>
	<br>

	<label for="hearta_f" class="tooltip">Have you ever had a heart attack?
		<span class="tooltiptext">A blockage of blood flow to the heart muscle</span>
	</label>
	<select id="hearta_f" name="hearta_f">
	<option value="0">No</option>	
	<option value="1">Yes</option>
	<option value="0">I don't know</option>
	</select>
	
	<br>
	<br>

	<label for="hyperten_f" class="tooltip">Have you ever had hypertension?
		<span class="tooltiptext">A condition in which the force of the blood against the artery walls is too high</span>
	</label>
	<select id="hyperten_f" name="hyperten_f">
	<option value="0">No</option>	
	<option value="1">Yes</option>
	<option value="0">I don't know</option>
	</select>
	
	<br>
	<br>

	<label for="liver_comorbidity" class="tooltip">Have you ever had liver comorbidities?
		<span class="tooltiptext">The simultaneous presence of two or more liver-related diseases or medical conditions</span>
	</label>
	<select id="liver_comorbidity" name="liver_comorbidity">
	<option value="0">No</option>	
	<option value="1">Yes</option>
	<option value="0">I don't know</option>
	</select>
	
	<br>
	<br>

	<label for="osteopor_f" class="tooltip">Have you ever had osteoporosis?
		<span class="tooltiptext">A condition in which bones become weak and brittle</span>
	</label>
	<select id="osteopor_f" name="osteopor_f">
	<option value="0">No</option>	
	<option value="1">Yes</option>
	<option value="0">I don't know</option>
	</select>
	
	<br>
	<br>

	<label for="polyps_f" class="tooltip">Have you ever had colorectal polyps?
		<span class="tooltiptext">A small clump of cells that forms on the lining of the colon or rectum</span>
	</label>
	<select id="polyps_f" name="polyps_f">
	<option value="0">No</option>	
	<option value="1">Yes</option>
	<option value="0">I don't know</option>
	</select>
	
	<br>
	<br>

	<label for="stroke_f" class="tooltip">Have you ever had a stroke?
		<span class="tooltiptext">Damage to the brain from interruption of its blood supply</span>
	</label>
	<select id="stroke_f" name="stroke_f">
	<option value="0">No</option>	
	<option value="1">Yes</option>
	<option value="0">I don't know</option>
	</select>

	<br>

	<button id='submit' onclick="postRequest()">Submit</button> 
	
	<div class="try">
		<i id="result"></i>
	</div>
	
</div>

<footer>
    <nav>
        <ul class="navbar-footer">
            <li class="pages"><a class="pages" href="../legal/disclaimer.html">Disclaimer</a></li>
            <li class="pages"><a class="pages" href="../legal/terms-of-service.html">Terms of Service</a></li>
            <li class="pages"><a class="pages" href="../legal/privacy-policy.html">Privacy Policy</a></li>
            <li class="pages"><a class="pages" href="../legal/cookie-policy.html">Cookie Policy</a></li>
        </ul>
    </nav>
</footer>

</body>

</html>