<!DOCTYPE html>
<html>

<head>

  <title>Cancer Prediction</title>

  <link rel="stylesheet" href="../../static/css/navbar-footer.css">
  <link rel="stylesheet" href="../../static/css/work-in-progress.css">
  <link rel="stylesheet" href="../../static/css/fade-in.css">
  
</head>

<body>
  
  <header>
    <nav>
      <ul class="navbar-footer">
				<li class="pages"><a class="pages" href="../index.html">Home</a></li>
				<li class="pages"><a class="pages" href="../about.html">About</a></li>
				<li class="pages"><a class="pages" href="../api.html">API</a></li>
				<li class="pages"><a class="pages" href="colon.html">Colon</a></li>
				<li class="pages"><a class="pages" href="pancreatic.html">Pancreatic</a></li>
				<li class="pages"><a class="pages" href="lung.html">Lung</a></li>
			</ul>
    </nav>
  </header>

  <div class="fade">
    <h2> This page is a work in progress</h2>
  </div>

  <footer>
    <nav>
      <ul class="navbar-footer">
        <li class="pages"><a class="pages" href="../legal/disclaimer.html">Disclaimer</a></li>
        <li class="pages"><a class="pages" href="../legal/terms-of-service.html">Terms of Service</a></li>
        <li class="pages"><a class="pages" href="../legal/privacy-policy.html">Privacy Policy</a></li>
        <li class="pages"><a class="pages" href="../legal/cookie-policy.html">Cookie Policy</a></li>
      </ul>
    </nav>
  </footer>

</body>
</html>