<!DOCTYPE html>
<html>

<head>

  <title>API - cancerprediction.org</title>

  <link rel="stylesheet" href="../static/css/text.css">
  <link rel="stylesheet" href="../static/css/navbar-footer.css">
  <link rel="stylesheet" href="../static/css/fade-in.css">
  <link rel="stylesheet" href="../static/css/tooltip.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
  
  <header>
    <nav>
      <ul class="navbar-footer">
        <li class="pages"><a class="pages" href="index.html">Home</a></li>
        <li class="pages"><a class="pages" href="about.html">About</a></li>
        <li class="pages"><a class="pages" href="api.html">API</a></li>
        <li class="pages"><a class="pages" href="questionnaires/colon.html">Colon</a></li>
        <li class="pages"><a class="pages" href="questionnaires/pancreatic.html">Pancreatic</a></li>
        <li class="pages"><a class="pages" href="questionnaires/lung.html">Lung</a></li>
      </ul>
    </nav>
  </header>

  <div class="fade">

    <h1 id="first">API Documentation</h1>

    <div class="box">

      <p></p>
      <h2 class="inner-h2">Introduction</h2>

      <p>The API provided by cancerprediction.org allows HTTP POST requests of only one type: <b>application/json</b>.</p>
      <p>Requests can be made using API platforms such as Postman or by creating an XMLHttpRequest (XHR), and should be directed to <b>https://www.cancerprediction.org/api</b>.</p>
      <p>To make a successful API request, the 30 keys in the “<a class="links" href="#keys">Keys</a>” section must be used in the given order. For “<a class="links" href="#values">Values</a>,” strings, floats, and integers are the only accepted types.</p>
      <p>This API is useful for obtaining large quantities of predictions from cancerprediction.org’s machine learning model.</p>  
      
      <h2 class="inner-h2" id="keys">Keys</h2>

      <p></p>
      <ol class="lists">
        <li class="items">age</li>
        <li class="items">height1</li>
        <li class="items">height2</li>
        <li class="items">weight</li>
        <li class="items">sex</li>
        <li class="items">race7</li>
        <li class="items">educat</li>
        <li class="items">marital</li>
        <li class="items">occupat</li>
        <li class="items">cig_stat</li>
        <li class="items">cig_years</li>
        <li class="items">cigpd_f</li>
        <li class="items">cigar</li>
        <li class="items">pipe</li>
        <li class="items">fh_cancer</li>
        <li class="items">asppd</li>
        <li class="items">ibuppd</li>
        <li class="items">arthrit_f</li>
        <li class="items">bronchit_f</li>
        <li class="items">colon_comorbidity</li>
        <li class="items">diabetes_f</li>
        <li class="items">divertic_f</li>
        <li class="items">emphys_f</li>
        <li class="items">gallblad_f</li>
        <li class="items">hearta_f</li>
        <li class="items">hyperten_f</li>
        <li class="items">liver_comorbidity</li>
        <li class="items">osteopor_f</li>
        <li class="items">polyps_f</li>
        <li class="items">stroke_f</li>
      </ol>
      <p></p>
        
      <h2 class="inner-h2" id="values">Values</h2>

      <p>
        Every key value must be convertible to either type int or float.<br><br>

        <b>age (years)</b>:<br> 
        Numeric<br><br>

        <b>height1 (feet)</b>:<br> 
        Numeric<br><br>

        <b>height2 (inches)</b>:<br> 
        Numeric<br><br>

        <b>weight (pounds)</b>:<br> 
        Numeric<br><br>

        <b>sex</b>:<br>
        1=“Male”<br>
        2=“Woman”<br><br>

        <b>race7</b>:<br>
        1=“White, Non-Hispanic”<br>
        2=“Black, Non-Hispanic”<br>
        3=“Hispanic”<br>
        4=“Asian”<br>
        5=“Pacific Islander”<br>
        6=“American Indian”<br>
        7=“Missing”<br><br>

        <b>educat</b>:<br>
        1=“Less Than 8 Years”<br>
        2=“8-11 Years”<br>
        3=“12 Years Or Completed High School”<br>
        4=“Post High School Training Other Than College”<br>
        5=“Some College”<br>
        6=“College Graduate”<br>
        7=“Postgraduate”<br><br>

        <b>marital</b>:<br>
        1=“Married Or Living As Married”<br>
        2=“Widowed”<br>
        3=“Divorced”<br>
        4=“Separated”<br>
        5=“Never Married”<br><br>

        <b>occupat</b>:<br>
        1=“Homemaker”<br>
        2=“Working”<br>
        3=“Unemployed”<br>
        4=“Retired”<br>
        5=“Extended Sick Leave”<br>
        6=“Disabled”<br>
        7=“Other”<br><br>

        <b>cig_stat</b>:<br>
        0=“Never Smoked Cigarettes”<br>
        1=“Current Cigarette Smoker”<br>
        2=“Former Cigarette Smoker”<br><br>

        <b>cig_years</b>:<br>
        0.5=“Six Months”
      </p>

      <div class="tooltip"><b>cigpd_f</b>:
        <span class="tooltiptext">“During periods when you smoked, how many cigarettes did or do you usually smoke per day?”</span>
      </div>

      <p class="after-div">
        0=“0”<br>
        1=“1-10”<br>
        2=“11-20”<br>
        3=“21-30”<br>
        4=“31-40”<br>
        5=“41-60”<br>
        6=“61-80”<br>
        7=“81+”<br><br>

        <b>cigar</b>:<br>
        0=“Never”<br>
        1=“Current Cigar Smoker”<br>
        2=“Former Cigar Smoker”<br><br>

        <b>pipe</b>:<br>
        0=“Never”<br>
        1=“Current Pipe Smoker”<br>
        2=“Former Pipe Smoker”
      </p>

      <div class="tooltip"><b>fh_cancer</b>:
        <span class="tooltiptext">Any first-degree relative with cancer. Basal cell skin cancers are not included. First-degree relatives include parents, full-siblings, and children. Half-siblings are not included</span>
      </div>
        
      <p class="after-div">
        0=“No”<br>
        1=“Yes”
      </p>

      <div class="tooltip"><b>asppd</b>:
        <span class="tooltiptext">“During the last 12 months, how many pills of aspirin or aspirin containing products did you usually take per day, per week, or per month?”</span>
      </div>

      <p class="after-div">
        0=“None”<br>
        1=“1/Day”<br>
        2=“2+/Day”<br>
        3=“1/Week”<br>
        4=“2/Week”<br>
        5=“3-4/Week”<br>
        6=“&lt2/Month”<br>
        7=“2-3/Month”
      </p>
      
      <div class="tooltip"><b>ibuppd</b>:
        <span class="tooltiptext">“During the last 12 months, have you regularly used ibuprofen-containing products, such as Advil, Nuprin, or Motrin?”</span>
      </div>

      <p class="after-div"> 
        0=“None”<br>
        1=“1/Day”<br>
        2=“2+/Day”<br>
        3=“1/Week”<br>
        4=“2/Week”<br>
        5=“3-4/Week”<br>
        6=“&lt2/Month”<br>
        7=“2-3/Month”<br><br>
      
        The following diseases/events refer to keys #18 and onward in the “<a class="links" href="#keys">Keys</a>” section. Depending on whether or not the disease/event occurred, the “<a class="links" href="#values">Values</a>” are:<br>
        0=“No”<br>
        1=“Yes”<br><br>
       
        Arthritis<br>
        Bronchitis<br>
        Colon Comorbidities<br>
        Diabetes<br>
        Diverticulitis/Diverticulosis<br>
        Emphysema<br>
        Gallbladder Stones or Inflammation<br>
        Heart Attack<br>
        Hypertension<br>
        Liver Comorbidities<br>
        Osteoporosis<br>
        Colorectal Polyps<br>
        Stroke<br>
      </p>
        
    </div>

    <h1>Examples</h1>

    <div id="last" class="box">

      <p></p><h2 class="inner-h2">Using Postman</h2><p></p>
    
      <img class="image" src="../../static/images/apilight.jpg" alt="Postman Request Example">

      <p>Note the mixed use of strings, floats, and integers.</p>

      <p></p><h2 class="inner-h2">Creating an XMLHttpRequest (XHR)</h2><p></p>

      <img class="image" src="../../static/images/xhr_small.jpg" alt="XHR Example">

      <p>Payload must be of type JSON.</p>

    </div>

  </div>

  <footer>
    <nav>
      <ul class="navbar-footer">
        <li class="pages"><a class="pages" href="legal/disclaimer.html">Disclaimer</a></li>
        <li class="pages"><a class="pages" href="legal/terms-of-service.html">Terms of Service</a></li>
        <li class="pages"><a class="pages" href="legal/privacy-policy.html">Privacy Policy</a></li>
        <li class="pages"><a class="pages" href="legal/cookie-policy.html">Cookie Policy</a></li>
      </ul>
    </nav>
  </footer>

</body>
</html>