<!DOCTYPE html>
<html>

<head>
	
  <title>Cancer Prediction</title>

  <link rel="stylesheet" href="../static/css/navbar.css">
  <link rel="stylesheet" href="../static/css/welcome.css">

</head>

<body>
  
  <header>
    <nav>
      <ul>
        <li><a class="pages" href="index.html">Home</a></li>
		<li><a class="pages" href="pages/about.html">About</a></li>
		<li><a class="pages" href="pages/api.html">API</a></li>
		<li><a class="pages" href="pages/colon.html">Colon</a></li>
		<li><a class="pages" href="pages/pancreatic.html">Pancreatic</a></li>
		<li><a class="pages" href="pages/lung.html">Lung</a></li>
      </ul>
    </nav>
  </header>

  <div class="welcome-message">

	<span class="first"> 

		<span class="word">Welcome</span>
		<span class="word">to</span>

	</span>
		
	<span class="word">cancerprediction.org</span>
	<span class="word">A helpful tool to assess your risk for various cancers </span>

  </div>

</body>
</html>